* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: rgb(231, 229, 229);
}

.container {
  width: 210mm;
  height: 297mm;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nombreImgContainer {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: right;
  margin-top: 60px;
}

.imgPerfil img {
  width: 170px;
  border-radius: 100px;
  position: absolute;
}

.nombre {
  width: 650px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgb(207, 205, 205);
  margin-left: 80px;
}

.nombre h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

.nombre h3 {
  text-transform: uppercase;
}

.info {
  display: flex;
  margin-top: 20px;
}

.info h3 {
  text-transform: uppercase;
}

.subInfo1 {
  width: 90mm;
  padding: 15mm;
}

.subInfo2 {
  width: 120mm;
  padding: 15mm;
  display: flex;
  flex-direction: column;
}

h2,
h3 {
  padding-bottom: 15px;
  padding-top: 15px;
}
p,
li {
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
}

.resaltado {
  font-size: 1rem;
  color: rgb(44, 108, 180);
  font-weight: 700;
}

.iconos i {
  font-size: 40px;
  margin: 10px;
}

.borde {
  padding-left: 20px;
  border-left: solid 1px black;
}

.qrwsp {
  margin: 50px;
}
